:root {
  --red: #ff9393;
  --green: #93ffa9;
  --blue: #93adff;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Verdana, serif;
}

body {
  background-color: #353535;
  color: white;
  padding: 50px 5%;
  text-align: center;
}

input {
  display: none;
}

input:focus {
  border-color: var(--green);
  outline: none;
}

button {
  width: 20px;
  height: 20px;
  background-color: #353535;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

button:hover {
  background-color: #454545;
}

p {
  display: none;
}

a {
  color: var(--red);
}

a:hover {
  text-decoration: none;
}

.credit {
  display: none;
}